@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azure Cookbook</h1>
    <p>How to enable authentication with Entra ID a secure way to protect your recipe from unauthorized access</p>
</div>
